/* Body, HTML */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: lightgreen
}

body {
background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: lightgreen;
    font-size: 14pt;
    margin: auto 0%;
}
     /* animation: mymove 5s infinite;
    }
    
    @keyframes mymove {
        from {
            background-color: dodgerblue;
            
        }
    
        to {
            background-color: yellow;
        }  */
    
main {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    padding-top: 20px;
        padding-bottom: 70px;
    display: block;
         background-color: white; 
    /* background-color: rgb(209, 236, 209); */
    
}

/* Header, Nav, Footer */

 header {
    max-width: 100vw;
    height:5vw;
    background-color: rgb(209, 236, 209);
    /* position: fixed; */
    top: 0;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, auto);
    padding: 2em;
    z-index: 200;
        font-size: 16pt;
}

header nav {
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, auto));
    grid-gap: 0.2em;
}

nav a {
    text-align: center;
    line-height: .5em;
    /* set to same as h1 in header */
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
} 


a:hover {
color:white;
}


/* Font */


h1,
h2,
h4 {
    font-family: "Lilita One", cursive;
    color: lightgreen;
    text-shadow: 1px 1px 2px black; 
}

h1 {
font-size: 40pt;
    text-align: center;
line-height: .3;
margin-bottom: 30px;
}

h2 {
font-size: 24pt;
    text-align: left;
    line-height: 2;
}

h3 {
font-size: 16pt;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    line-height: 2;
}

h4 {
font-size: 24pt;
}
 h5 {
    font-size: 35pt;
        font-family: "Lilita One", cursive;
    color: black;
    line-height: 1.5;
     /* margin-top: 150px;  */

}
 figcaption {
     font-size: 16pt;
     line-height: 1.5;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: normal;
     color: black;
     /* text-align: center; */
 }

 p {
     font-size: 16pt;
     line-height: 1.5;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: normal;
     color: black;
 }
  p.sub {
      font-size: 14pt;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: normal;
      color: black;
    text-align: center;
        line-height: 1.5;
  }
.grid {
display: grid;
}
/*
p.font {
    font-size: 20pt;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: black;
     padding-bottom: 130px; 
} */

/* strong {
font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14pt;
        color: lightgreen;
        font-weight: 700;
} */
.rounds {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin-top: 10px;
  
    grid-gap:5px;
    max-width: 300px;
    }

.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
    height: 80px;
    width: 80px;
border: solid black 1px;
border-radius: 180px;

}

.circle1 {
    background-color: lightgreen;
}

.circle2 {
    background-color: rgb(209, 236, 209);
}

.circle3 {
    background-color: black;
}
.circle4 {
    background-color: white;
}


/* Buttons */
.btn-group .button a {
    background-color: lightgreen;
    box-shadow: 1px 1px 2px black;
    padding: 10px 30px;
    display: inline-flex;
    font-family: "Lilita One", cursive;
    font-size: 16pt;
    text-decoration: none;
    cursor: pointer;
   margin: auto;
    border: none;
    color: black ;
}

.btn-group .button a:hover {
    transform: scale(1.1);
    transition: 1s;
}
/* Layout */

ul {
    padding-left: 25px;
}
li {
    line-height: 2;
    color: black;
}
article {
    padding-top: 30px;
    padding-bottom: 30px;
}


section.gallery {
    display: grid;
    grid-gap: 60px;
}

footer {
    background-color: rgb(209, 236, 209);
    padding: 1.2em;
    color: black;
}


.email {
color: black;
}

/* Image  */

img.intro {
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 20px;
}

img.pic {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

img.sketch {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
        border: solid black 1px;
}
img.logo {
    margin-top: -35px;
    width: 100px;
    height: auto;
}
.list {
    margin-top: -30px;
}

.points {
    margin-top: -10px;
}
video {
    width:410px;
    margin: auto;
    display: block;
    margin-top: -30px;
}
@media screen and (min-width: 550px) {
img.logo {
            margin-top: -30px;
                width: 80px;
        height: auto;
    }
           .vid {
               width: 100%;
    
           }
}

@media screen and (min-width: 768px) {
body {
    background-size: 25%;
}
    main {
        max-width: 1300px;
            padding: 30px;
    padding-top: 10px;
        padding-bottom: 50px;
          
    }
      
        img.logo {
            width: 100px;
            height: auto;
        }
  img.intro {
    max-width: 450px;
  }
 .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
       margin: auto;
            max-width: 1000px;
    } 
        img.pic, img.sketch {
            height: 100%;
            width: 100%;
        }
section.text {
    max-width: 650px;
    margin-top: 80px;
}

    section.gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        grid-gap: 30px;
    }
                
                                video {
                                    width: 80%;
                
                                }
                                                                .grid {
                                                                    display: grid;
                                                                    grid-template-columns: 1fr 1fr 1fr;
                                                                }
}