/* Body, HTML */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: #2d5f8c;
    font-size: 16pt;
    margin: auto 0%;
    background: url('../img/patterns.png');
    background-size: 50%;
    cursor: url('../img/cursor1.png'), auto;
}

/* animation: mymove 5s infinite;
    }
    
    @keyframes mymove {
        from {
            background-color: dodgerblue;
        }
    
        to {
            background-color: yellow;
        }  */

main {
    max-width: 450px;
    margin: auto;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 50px;
    display: block;
    background-color: white;

}

/* Header, Nav, Footer */

header {
    width: 100vw;
    height: 5vw;
    background-color: #2d5f8c;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, auto);
    padding: 2em;
    z-index: 200;
}

header nav {
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, auto));
    grid-gap: 0.2em;
}

nav a {
    text-align: center;
    line-height: .3em;
    /* set to same as h1 in header */
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}


a:hover {
    color: #fc6471;
    cursor: url('../img/cursor2.png'), auto;
}


/* Font */


h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 25pt;
    line-height: 1.7;
    color: #2d5f8c;
    text-align: center;
    font-weight: 500;
}

h1.intro {
    font-weight: lighter;
}

h2 {
    font-size: 25pt;
    line-height: 3;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #2d5f8c;

}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    line-height: 1.8;
    color: black;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 30px;

}

figcaption {
    margin-bottom: 30px;
}

p {
    font-size: 16pt;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: black
}

p.foot {
    color: white;
    /* width: 450px; */
    text-align: center;
    margin: auto;
}

/* Layout */

article {
    padding-top: 20px;
    padding-bottom: 20px;
}


section.gallery {
    display: grid;
    grid-gap: 70px;
}

footer {
    background-color: #2d5f8c;
    padding: 1.2em;
}

.fa {
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 90px;
    color: white;
}

.fa:hover {
    color: #fc6471;
    cursor: url('../img/cursor2.png'), auto;
}

.icons {
    margin: auto;
    display: block;
    text-align: center;
}

.email {
    color: white;
    text-decoration: underline;
}

/* Image  */

img.intro {
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 20px;
}

img.pic {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

img.pic:hover {
    opacity: 50%;
    cursor: pointer;
    cursor: url('../img/cursor2.png'), auto;
}

img.logo {
    margin-top: -25px;
    width: 100px;
    height: auto;
}

@media screen and (min-width: 550px) {
    img.logo {
        margin-top: -30px;
        width: 100px;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-size: 25%;
    }

    main {
        max-width: 1200px;
        padding: 30px;
        padding-top: 90px;
        padding-bottom: 50px;

    }

    img.logo {
        width: 120px;
        height: auto;
    }

    img.pic {
        height: 100%;
        width: 100%;
    }

    section.text {
        max-width: 650px;
        margin-top: 130px;
    }

    section.gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        grid-gap: 90px 20px;
margin-bottom: 30px;
    }
}

@media screen and (min-width: 1900px) {

    main {
        max-width: 1500px;
        padding: 30px;
        padding-top: 100px;
        padding-bottom: 50px;

    }
}